{% extends 'layout/base.html.twig' %}

{% block title %}Chick Chick Shop - ShoppingCart Address Delivery{% endblock %}

{% block content %}    
    <section class="pb-4">
        <div style="background-color: #eee;">
            <section class="p-4 d-flex justify-content-center w-100 section-demo">
            
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h1 class="fw-normal mb-0 text-black headers">Delivery address</h3>
                    </div>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-header py-3">
                                    <h5 class="mb-0">Billing details - <b>{{ app.user.email }}</b></h5>
                                    </div>
                                    <div class="card-body">
                                        {{ form_start(address_form, {'attr': {'class': 'fv-plugins-bootstrap5 fv-plugins-framework'}}) }}
                                    
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <div class="form-outline">
                                                        {{ form_label(address_form.firstName, null, {'class': 'form-label'}) }}
                                                        {{ form_widget(address_form.firstName, {'attr': {'class': 'form-control'}}) }}
                                                        <small class="form-error" >{{ form_errors(address_form.firstName) }}</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        {{ form_label(address_form.lastName, null, {'class': 'form-label'}) }}
                                                        {{ form_widget(address_form.lastName, {'attr': {'class': 'form-control'}}) }}
                                                        <small class="form-error" >{{ form_errors(address_form.lastName) }}</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-outline mb-4">
                                                {{ form_label(address_form.company, null, {'class': 'form-label'}) }}
                                                {{ form_widget(address_form.company, {'attr': {'class': 'form-control'}}) }}
                                                <small class="form-error" > {{ form_errors(address_form.company) }}</small>
                                            </div>

                                            <div class="form-outline mb-4">
                                                {{ form_label(address_form.address, null, {'class': 'form-label'}) }}
                                                {{ form_widget(address_form.address, {'attr': {'class': 'form-control'}}) }}
                                                <small class="form-error" >{{ form_errors(address_form.address) }}</small>
                                            </div>

                                            <div class="form-outline mb-4">
                                                {{ form_label(address_form.phone, null, {'class': 'form-label'}) }}
                                                {{ form_widget(address_form.phone, {'attr': {'class': 'form-control'}}) }}
                                                <small class="form-error" >{{ form_errors(address_form.phone) }}</small>
                                            </div>

                                                {{ form_label(address_form.zip, null, {'class': 'form-label'}) }}
                                                {{ form_widget(address_form.zip, {'attr': {'class': 'form-control'}}) }}
                                                <small class="form-error" >{{ form_errors(address_form.zip) }}</small>
                                            </div>
                                            <div class="mt-2 d-flex justify-content-end mb-4 me-2">
                                                {{ form_row(address_form.submit, {'label': 'Save changes', 'attr': {'class': 'btn btn-primary me-2'}}) }}
                                            </div>

                                        {{ form_end(address_form) }}
                                    </div>
                                    <div class="card">
                                        <div class="card-body d-flex justify-content-between">
                                            <a href="{{ path('app_shopping_cart') }}" ><button type="button" class="btn btn-primary btn-block btn-lg">Shopping Cart</button></a>
                                            <a href="#" ><button type="button" class="btn btn-primary btn-block btn-lg">Summary</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </section>

   
{% endblock %}