{% extends 'layout/base.html.twig' %}

{% block title %}Chick Chick Shop - Order Summary{% endblock %}

{% block content %}    
    <section class="pb-4">
        <div style="background-color: #eee;">
            <section class="p-4 d-flex justify-content-center w-100 section-demo">
            
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h1 class="fw-normal mb-0 text-black headers">Order Summary</h1>
                    </div>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-header py-3">
                                        <h5 class="mb-0">Order Details</h5>
                                    </div>
                                    <div class="card-body">
                                         {% for entry in cart.ShoppingCartEntry %}
                                            <div class="card rounded-3 mb-4 productCart">
                                                <div class="card-body p-4 ">
                                                    <div class="row d-flex justify-content-between align-items-center">
                                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                                            <img src="{{ asset('images/products/' ~ entry.product.id ~ '.png') }}" alt="{{ entry.product.name }}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                            <p class="lead fw-normal mb-2">{{ entry.product.name|length > 24 ? entry.product.name|slice(0, 24) ~ '…' : entry.product.name }}</p>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                            <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                                <i class="fas fa-minus"></i>
                                                            </button>
                                                            {{ entry.quantity }}
                                                            <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                            <h5 class="mb-0 productPrice">{{ entry.getPrice }} PLN</h5>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="card mb-4">
                                            <div class="card-header py-3">
                                                <h5 class="mb-0">Delivery Address</h5>
                                            </div>
                                           <div class="card-body">
                                                {% if address.company is not empty %}
                                                    <p class="lead fw-normal mb-2 company">Company: {{ address.company }}</p>
                                                {% endif %}
                                                <p class="lead fw-normal mb-2 person">Person: {{ address.FirstName }} {{ address.LastName }}</p>
                                                <p class="lead fw-normal mb-2 address">Address: {{ address.address }} {{ address.zip }}</p>
                                                <p class="lead fw-normal mb-2 phone">Phone: {{ address.phone }}</p>
                                            </div>
                                        </div>
                                        <h3 class='d-flex justify-content-end gap-2 mt-4'>Total: <span id="productSum">{{cart.productsum}}</span> PLN </h3>
                                        <div class="card">
                                          
                                            <div class="card-body d-flex justify-content-between">
                                                <a href="{{ path('app_shopping_cart_address_delivery') }}" ><button type="button" class="btn btn-primary btn-block btn-lg">Delivery details</button></a>
                                                <a href="#" ><button type="button" class="btn btn-primary btn-block btn-lg">Send order</button></a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </section>
{% endblock %}