{% extends 'layout/base.html.twig' %}

{% block title %}Chick Chick Shop - Order Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'account/_parts/_menu.html.twig'  %}
        <main class="col-md-911 ms-sm-auto col-lg-11 px-md-4">
            <div class="order-details">
                <div class="order-info">
                    <div class="order-summary">
                        <h1>Order #{{ order.id }}</h1>
                        <p><strong>Date Added:</strong> {{ order.dateAdded|date('Y-m-d') }}</p>
                        <p><strong>Order Status:</strong> {{ order.orderStatus.name }}</p>
                        <p><strong>Product Sum:</strong> {{ order.productSum }}</p>
                        <p><strong>Delivery Sum:</strong> {{ order.deliverySum }}</p>
                        <p><strong>Note:</strong> {{ order.note }}</p>
                    </div>

                    <div class="customer-info">
                        <h2>Customer Information</h2>
                        <p><strong>Name:</strong> {{ order.person }}</p>
                        <p><strong>Company:</strong> {{ order.company }}</p>
                        <p><strong>Phone:</strong> {{ order.phone }}</p>
                        <p><strong>Address:</strong> {{ order.address }}, {{ order.zip }}</p>
                    </div>
                </div>

                <div class="order-entries">
                    <h2>Order Entries</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in order.orderEntries %}
                                <tr>
                                    <td><a href='{{ path('app_products_display', {'productId': entry.product.id}) }}'><img src="{{ asset('images/products/' ~ entry.product.id ~ '.png') }}" alt="{{ entry.product.name }}" class="img-fluid rounded-3" alt="Cotton T-shirt"></a> {{ entry.product.name }}</td>
                                    <td>{{ entry.quantity }}</td>
                                    <td>{{ entry.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}