<footer class="bg-dark text-light py-1 mt-5">

    <div class="container footer-payment-logos text-center mt-2 d-flex gap-5 justify-content-center">
        <img class="paymentsLogo" src="{{ asset('images/payments/blik.png') }}"  alt="blik">
        <img class="paymentsLogo" src="{{ asset('images/payments/mastercard.png') }}"  alt="mastercard">
        <img class="paymentsLogo" src="{{ asset('images/payments/visa.png') }}"  alt="visa">
        <img class="paymentsLogo" src="{{ asset('images/payments/paypal.png') }}"  alt="paypal">
        <img class="paymentsLogo" src="{{ asset('images/payments/citi.png') }}"  alt="citi">
	</div>
    <div class="text-center mt-2">
        <p>© 2023 Damian Wasiak. All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of use</a></li>
        </ul>
    </div>
</footer>